@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #000;
}
:focus {
  outline: none;
}
input, button {
  outline: none!important;
}
ul li {
  list-style-type: none;
}
.btn-secondary.focus, .btn-secondary:focus {
  box-shadow: none;
}
.advertising-banner {
  background: #C4C4C4;
  font-weight: bold;
  font-size: 38px;
  color: rgba(0, 0, 0, 0.8);
}
.advertising-banner .container {
  height: 150px;
}
.bkg-contact-us-block {
  background: rgba(221, 221, 221, 0.5);
}
button:hover {
  color: #174EE2!important;
  border: 1px solid #174EE2!important;
  background: #fff!important;
}
button.navbar-toggler:hover {
  border: none!important; 
}
.head-date {
  color: #000;
}
.contact-us, .contact-us a {
  height: 24px;
  font-size: 11px;
  line-height: 13px;
  color: rgba(0, 0, 0, 0.8);
}
.navbar {
  height: 59px;
  padding: 0;
}
.navigation {
  border-bottom: 0.8px solid #B1B1B1;
}
.nav-link {
  padding: 0 1rem;
}
.navbar-light .navbar-nav .nav-item a {
  color: rgba(0,0,0,1);
}
.navbar-light .navbar-nav .active a, .navbar-light .navbar-nav .nav-item.active a {
  color: rgba(0,0,0,.5);
}
.navigation .menu {
  margin-top: 1rem;
  margin-left: auto;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
}
.navigation .menu li a i {
  font-size: 28px;
  position: relative;
  bottom: 10px;
}
.navigation .menu li {
  margin-left: 20px;
}
.nav-block-bg{
  background: #E0E0E0;
}
.block-position {
  margin-top: 28px;
  margin-bottom: 4px;
}
.block-position, .block-position a {
  font-size: 14px;
  color: #000;
  font-weight: 400;
}
.block-position a::after {
  content: "/";
  margin-left: 6px;
}
.block-position .active {
  color: #000;
  font-weight: 600;
}
.nav-block .title {
  font-weight: 800;
  font-size: 48px;
  color: rgba(0, 0, 0, 0.75);
  margin-bottom: 13px;
}
.new-description.nav-block .title {
  margin-bottom: 4px;
}
.nav-block .subtitle {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 25px;
  line-height: 24px;
}
.nav-block .owl-carousel .owl-item img {
  display: block;
  width: 810px;
}
.nav-block {
  height: 250px;
}
.nav-block.home {
  height: 100%;
}
.nav-block.new-description {
  text-align: center;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next:hover, .owl-carousel .owl-nav button.owl-prev:hover {
  background: #D1D0D0!important;
  border-radius: 30px;
  width: 40px;
  border: none!important;
  position: absolute;
  top: 45%;
  height: 40px;
  right: 0;
}
.owl-carousel.journal .owl-nav button.owl-next, .owl-carousel.journal .owl-nav button.owl-prev {
  top: 49.5%;
}
.owl-carousel .owl-nav button.owl-prev {
  left: 0;
}
.owl-carousel.heading .owl-nav button.owl-next, .owl-carousel.heading .owl-nav button.owl-prev {
  top: 43%;
}
.owl-carousel.journal .owl-nav button.owl-prev{
  left: -0.4rem;
}
.owl-carousel.heading .owl-nav button.owl-prev {
  left: -7px;
}
.owl-carousel .owl-nav button.owl-next img, .nav-block .owl-carousel .owl-nav button.owl-prev img {
  width: 40px;
}
.nav-block .owl-carousel .owl-nav button.owl-prev.disabled {
  display: none;
}
.nav-block a.show-all {
  border: 1px solid #174EE2;
  color: #174EE2;
  font-size: 11px;
  border-radius: 30px;
  padding: 9px 9px;
}
.nav-block .subtitle {
  margin-bottom: 44px;
}
.nav-block.home .title {
  padding-top: 67px;
}
.nav-block .title {
  padding-top: 10px;
}
.new-description.nav-block .title {
  padding-top: 0;
}
.owl-carousel .owl-nav button.owl-prev img {
  width: 40px;
}
.owl-carousel .owl-nav button.owl-prev {
  opacity: 1;
}

.nav-block .block img {
  position: relative;
  margin-top: -294px;
  z-index: -2;
  left: 18.7rem;
}
.news-block {
  margin-bottom: 90px;
}
.news-block .title-block {
  margin-top: 86px;
  margin-bottom: 50px;
}
.article-description-body .articles .title-block {
  margin-bottom: 0;
  margin-top: 95px;
}
.article-description-body .news-block .title-block {
  margin-top: 0;
  margin-bottom: 50px;
}
.title-block .title {
  font-weight: 700;
  font-size: 38px;
  letter-spacing: 0.4px;
  color: rgba(0, 0, 0, 0.8);
}
.title-block .title::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  background: #f00;
  bottom: 3px;
}
.new-block {
  font-size: 15px;
  color: #505050;
  margin-bottom: 23px;
  line-height: 1.49;
}
.new-block a {
  display: flex;
  color: #505050;
}
.new-block::before {
  content: "";
  position: absolute;
  border-radius: 30px;
  width: .1rem;
  height: 8rem;
  margin-top: 0.5rem;
  z-index: -1;
  left: 1.449rem;
  background: #C4C4C4;
}
.new-block.end {
  margin-bottom: 35px;
}
.new-block.end::before {
  display: none;
}
.new-block img {
  margin-right: 21px;
  margin-top: 0.3rem;
}
.title-news {
  font-weight: bold;
  margin-bottom: 3px;
}
.date-news {
  font-weight: bold;
  margin-bottom: 9px;
  color: #003D7C;
  letter-spacing: -0.5px;
  display: flex;
  align-items: center;
}
.date-news i {
  font-size: 7px;
  display: inline-flex;
  align-self: center;
  margin: 0 3px;
}
.description-news {
  font-weight: 400;
  font-size: 13.5px;
}
.show-more-news a {
  color: #174EE2;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid #3464E6;
}
.owl-carousel.heading .show-more-news a {
  font-size: 13px;
}
.owl-carousel.journal {
  padding: 0 3.2rem;
  margin-top: 45px;
}
.owl-carousel.heading {
  padding: 0 4.5rem;
}
.owl-carousel.heading .item {
  margin-top: 64px!important;
}
.owl-carousel.heading .item img {
  width: 50px;
  margin-bottom: 30px;
}
.owl-carousel.journal .item img{
  width: 205px;
  margin: 25px;
  box-shadow: 0 0 10px rgba(80, 80, 80, 0.25);
}
.owl-carousel.heading .item .heading-title {
  font-weight: bold;
  margin-bottom: 17px;
  font-size: 16px;
  line-height: 90%;
  color: #505050;
}
.owl-carousel.heading .item .heading-subtitle {
  font-size: 14px;
  margin-bottom: 23px;
  line-height: 1.45;
}
.journal-block, .news-block {
  margin-bottom: 88px;
  margin-top: 2.8rem;
}
.dot-journal-body .journal-block {
  margin-bottom: 48px;
}
.news-block {
  margin-top: 0;
}
.new-description-body .news-block, .event-description-body .news-block {
  margin-top: 0.6rem;
  margin-bottom: 90px;
}
.event-description-body .news-block {
  margin-top: 0;
}
.heading-block {
  margin-bottom: 81px;
}
.journal-block .title-block {
  margin-bottom: -6px;
}
.journal-block .show-more-news {
  margin-top: 5px;
}
.announc-block {
  margin-bottom: 92px;
}
.article-description-body .announc-block {
  margin-top: 93px;
}
.new-description-body .announc-block {
  margin-bottom: 119px;
}
.event-description-body .announc-block {
  margin-top: 93px;
  margin-bottom: 92px;
}
.announc-block .announc-desc {
  margin-top: 67px;
}
.announc-block .items {
  margin-bottom: 36px;
}
.announc-block .items a {
  display: flex;
  color: #000;
}
.announc-block .items img {
  width: 48%;
}
.announc-block .items .description {
  margin-left: 20px;
}
.announc-block .items .description .title-announc {
  font-size: 15px;
  font-weight: bold;
  line-height: 12px;
  margin-bottom: 40px;
}
.announc-block .items .description .subtitle-announc {
  font-size: 13px;
  line-height: 21px;
  margin-bottom: 7px;
}
.announc-block .items .description .date-announc {
  color: rgba(0, 0, 0, 0.5);
  font-size: 11px;
}
.background-message {
  background: #F5F4F4;
}
.message-block {
  height: 104px;
}
.message-block .message-content {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}
.message-block .message-content div {
  display: flex;
  align-self: center;
  margin-top: 4px;
  margin-right: 7px;
}
.message-block .message-content .send-message a {
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.02em;
  display: inline-block;
  color: #FFFFFF;
  background: rgba(62, 62, 62, 0.9);
  border-radius: 20px;
  padding: 5px 15px;
  font-weight: 400;
  margin-left: 25px;
}
.footer-block {
  padding-top: 45px;
}
.footer-block .footer-body .col {
  padding-left: 0;
}
.footer-block .footer-body .col ul {
  line-height: 1.25;
}
.footer-block .footer-body .col.start {
  padding-left: 15px;
}
.footer-block .footer-body .col .title {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 20px;
  color: #BCBCBC;
}
.footer-block .footer-body .col, .footer-block .footer-post  {
  font-size: 13px;
  line-height: 15px;
  color: #8B8B8B;
}
.footer-block .footer-body .col .desc {
  margin-top: 34px;
  line-height: 1.38;
}
.footer-block .footer-body .col ul li, .footer-block .footer-body .col ul.contacts ul.soc-net li {
  margin-bottom: 5px;
}
.footer-block .footer-body .col.end ul.contacts {
  margin-bottom: 2px;
}
.footer-block .footer-body .col ul.contacts li:last-child {
  margin-bottom: 1rem;
}
.footer-block .footer-body .col ul.contacts li {
  margin-bottom: 1.6rem;
}

.footer-block .footer-body .col ul li a {
  color: #8B8B8B;
}
.footer-background {
  background: #313131;
}
.footer-block .footer-body .col ul.contacts ul.soc-net li, .footer-block .footer-body .col.end ul:first-child {
  margin-bottom: 22px;
  margin-right: 16px;
}
.footer-block .footer-body .col.end ul:first-child {
  margin-bottom: 5px;
}
.footer-block .end .soc-net li a {
  border:1px solid #8B8B8B;
  align-items: center;
  justify-content: center;
  width: 30px;
  display: flex;
  font-size: 16px;
  height: 30px;
  border-radius: 30px;
}
.footer-block .footer-post {
  margin-top: 1.2rem;
  margin-bottom: 1rem;
}
.footer-block .footer-post::before {
  content: "";
  position: absolute;
  height: 1.5px;
  top: -1rem;
  width: 94%;
  background: rgba(185, 185, 185, 0.2);
  left: 4%;
}
.navbar-toggler {
  border: none;
  width: 27px;
  padding: 0;
}
.navbar-toggler img {
  width: 26px;
  height: 15px;
}
.close-navbar {
  z-index: 999;
  display: none;
  top: 0.8rem;
  position: absolute;
}
.owl-carousel .item .block-out {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.8);
}
.owl-carousel .item .block-out .desc-out {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #174EE2;
  text-shadow: 0px 0px 15px rgba(80, 80, 80, 0.25);
}
.owl-carousel .item .block-out .desc-out .chevron-right {
  display: flex;
  justify-content: center;
}
.owl-carousel .item .block-out .desc-out .chevron-right img {
  width: 60px;
  margin-bottom: 30px;
}
.nav-block .owl-carousel .owl-item .block-link img {
  position: initial;
  margin-top: 0;
  z-index: 1;
}
.nav-block .owl-carousel .item .block-out .desc-out .chevron-right img {
  width: 32px;
  padding: 6px;
  border: 1px solid;
  margin-bottom: 10px;
  border-radius: 30px;
}
.nav-block .owl-carousel.nav-home .item .block {
  background: url(../images/home.jpg) 100% 100% no-repeat;
  background-size: 73%;
  height: 100%;
}
.nav-block .owl-carousel.nav-home .item {
  height: 500px;
}
.owl-carousel.journal .item .block-out img {
  width: 60px;
  margin: 0;
  position: inherit;
  box-shadow: none;
}
.footer-block a.scroll-up {
  color: #fff;
  position: absolute;
  padding: 0.4rem 0.45rem;
  margin-top: -1rem;
  right: 0;
  border-radius: 30px;
  font-size: 20px;
  background: #464646;
}
.owl-carousel.heading .item a {
  color: #505050;
}
.owl-carousel.heading .item .show-more-news a {
  color: #174EE2;
}
.dot-journal-body .item {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.2px;
  color: #505050;
  margin-bottom: 20px;
}
.dot-journal-body .journal-block .down-shadow {
  margin-top: 4.4rem;
}
.dot-journal-body .journal-block .down-shadow .show-more-news {
  margin-top: 4.1rem;
}
.dot-journal-body .item .title {
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 16px;
  letter-spacing: -0.3px;
}
.dot-journal-body .down-shadow::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
  bottom: 6rem;
}
.dot-journal-body .down-shadow::after {
  display: none;
}
.dot-journal-body .journal-img {
  padding-top: 5rem;
}
.journal-img img {
  width: 100%;
  padding-left: 5rem;
}
.author-description-body .journal-img img, .partner-description-body .journal-img img {
  padding-left: 0;
}
.hashtag-block {
  padding-left: 5.7rem;
  margin-top: 1.5rem;
}
.news-page-block .hashtag-block, .article-page-block .hashtag-block {
  padding-left: 0;
}
.author-description-body .hashtag-block, .partner-description-body .hashtag-block {
  padding-left: 3.5rem;
  margin-top: 1.5rem;
}
.hashtag-block .hashtag-link {
  font-weight: 600;
  font-size: 11px;
  margin-top: 9px;
  line-height: 10px;
  color: #454545;
  padding: 0.6rem 1rem;
  text-transform: uppercase;
  border-radius: 30px;
  border: 1px solid #BEBCBC;
  display: inline-block;
  letter-spacing: -0.6px;
}
.archive-block .items-archive-block {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  margin-top: 65px;
}
.archive-block .item-archive {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.archive-block .item-archive img {
  width: 200px;
  box-shadow: 0px 0px 15px rgba(80, 80, 80, 0.25);
}
.pagination-block .pagination {
  font-weight: 500;
  font-size: 16px;
}
.pagination-block {
  color: #505050;
  margin-top: 2px;
  margin-bottom: 100px;
}
.pagination-block .pagination {
  background: transparent;
  border: none;
  padding: 0 9px;
}
.pagination-block .pagination:last-child {
  padding-left: 0;
}
.pagination-block .pagination:hover {
  color: #174EE2;
  text-decoration: underline;
  border: none!important;
}
.select-period .dropdown.period {
  padding-right: 2.7rem;
}
.news-body .pagination-block .pagination {
  margin-top: 40px;
}
.pagination-block .pagination:first-child {
  padding-left: 5px;
}
.journal-number-description .title  {
  margin-bottom: 122px;
}
.dropdown {
  display: inline-block;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  color: rgba(0, 0, 0, 0.8);
  min-width: 7rem;
}
.dropdown-toggle::before, .title-small::before {
  content: "";
  position: absolute;
  width: 19px;
  height: 1px;
  background: #f00;
  bottom: 8px;
}
.select-period {
  margin-top: 43px;
  margin-bottom: 3px;
}
.select-period, .select-period .btn {
  color: #000;
  font-weight: 500;
  font-size: 14px;
}
.article-body .select-period .show-news {
  padding-left: 11rem;
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle, .btn-secondary.dropdown-toggle {
  color: #000;
  background-color: transparent;
  border: none;
}
.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus {
  box-shadow: none;
}
.news-page-block .item, .search-results-body .results-block .item {
  border-bottom: 1px solid #EDEDED;
  padding-left: 2rem;
  padding-right: 1.5rem;
}
.news-page-block, .article-page-block {
  margin-bottom: 40px;
}
.news-body .down-shadow {
  padding-right: 3.5rem;
}
.article-page-block .down-shadow {
  margin-top: 37px;
}
.news-page-block .news-hashtag, .article-page-block .news-hashtag {
  padding-left: 5.4rem;
  padding-top: 1.44rem;
}
.article-page-block .news-hashtag {
  padding-top: 2.1rem;
}
.article-page-block .down-shadow .item .padding {
  padding-left: 1.6rem;
  padding-right: 1.2rem;
}
.article-page-block .down-shadow .item {
  margin-bottom: 2.5rem;
}
.article-page-block .down-shadow .item img {
  width: 340px;
  height: 233px;
} 
.news-page-block .item .title-news, .article-page-block .item .title-news, .results-block .item .title-news {
  font-size: 22px;
  color: #000;
  margin-bottom: 0;
  margin-top: 20px;
}
.article-page-block .item .title-news {
  margin-top: 16px;
  line-height: 1.2;
}
.news-page-block .item .description-news, .article-page-block .item .description-news, .results-block .item .description-news {
  font-size: 15px;
  margin-top: 12px;
  color: #000;
}
.news-page-block .item a:hover, .article-page-block .item a:hover, .results-block .item a:hover, .show-more-news a:hover, .new-description-body .news-block a:hover, .event-description-body .news-blocka:hover,.new-description-body .articles a:hover, .article-description-body .articles a:hover, .event-description-body .articles a:hover, .announc-block a:hover, .anounce-activity a:hover, .article-page-block a:hover {
  text-decoration: none;
}
.article-page-block .item .description-news {
  margin-top: 19px;
}
.news-page-block .item .date, .article-page-block .item .date, .results-block .item .date {
  color: rgba(0, 0, 0, 0.6);
  font-size: 11px;
  margin-top: 1rem;
  margin-bottom: 29px;
  line-height: 1.2;
  display: flex;
  align-items: center;
}
.news-page-block .item .date i, .announc-block .date-announc i, .article-page-block .item .date i, .activity-body .article-page-block .item .city i, .results-block .item .date i {
  font-size: 7px;
  display: inline-flex;
  align-self: center;
  margin: 0 3px;
}
.new-description.nav-block .date-new {
  font-size: 14px;
  margin-top: 9px;
  font-weight: bold;
}
.new-description.nav-block .nav-heading {
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 21px;
  margin-bottom: -6px;
}
.new-description.nav-block .nav-heading div {
  display: inline-block;
  padding: 9px 21px;
  background: #fff;
  border-radius: 30px;
  border: 1px solid #505050;
}
.new-description.nav-block .date-new i {
  font-size: 9px;
}
.news-hashtag .title {
  font-size: 17px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 600;
}
.news-hashtag .title::before {
  content: "";
  position: absolute;
  width: 19px;
  height: 1px;
  background: #f00;
  bottom: 3px;
}
.news-hashtag .subscribe-form .privacy-policy {
  font-weight: 600;
  font-size: 10.5px;  
  line-height: 18px;
  color: rgba(0, 0, 0, 0.5);
}
.news-hashtag .subscribe-form .title::before {
  display: none;
}
.search {
  display: flex;
  align-items: center;
  border-bottom: 1.3px solid rgba(0, 0, 0, 0.4);
  padding-bottom: 0.6rem;
  justify-content: space-between;
  margin-bottom: 32px;
}
.news-hashtag .choise-heading ul li:first-child {
  margin-top: 9px;
}
.news-hashtag .hashtag-block {
  margin-top: 3px;
}
.news-hashtag .hashtag-block {
  margin-left: 1rem;
}
.news-hashtag .choise-heading ul li:last-child {
  margin-bottom: 27px;
}
.news-hashtag .choise-heading ul li {
  margin-bottom: 11px;
}
.news-hashtag .choise-heading ul li a {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #353535;
}
.search .nav-link {
  padding: 0 0.5rem 0 0;
}
.search a {
  color: #000;
}
.news-hashtag .search input::placeholder {
  font-weight: 600;
  line-height: 18px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.6);
}
#search::placeholder {
  font-weight: 500;
  font-size: 13px;
  line-height: 21px;
  color: #605F5F;
  padding-left: 50px;
}
.search input {
  border: none;
}
.news-page-block .news-hashtag .subscribe-form, .article-page-block .news-hashtag .subscribe-form {
  text-align: center;
  margin-right: 2.3rem;
  padding-left: 1.5rem;
  margin-left: 1rem;
  border: 1.5px solid rgba(63, 63, 63, 0.7);
  padding-right: 1.5rem;
  font-size: 10px;
  padding-top: 1.5rem;
  font-weight: 600;
  padding-bottom: 1.2rem;
  margin-top: 1.6rem;
}
.news-page-block .news-hashtag .subscribe-form input, .article-page-block .news-hashtag .subscribe-form input {
  font-weight: 600;
  font-size: 13px;
  border: 1px solid #969696;
  border-radius: 5px;
  height: 35px;
  padding: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 1.7rem;
  color: rgba(0, 0, 0, 0.5);
}
.news-page-block .news-hashtag .subscribe-form button, .article-page-block .news-hashtag .subscribe-form button {
  background: #174EE2;
  font-weight: 600;
  font-size: 14px;
  color: #FFFFFF;
  margin-bottom: 19px;
}
.news-page-block .news-hashtag .subscribe-form input, .news-page-block .news-hashtag .subscribe-form button, .article-page-block .news-hashtag .subscribe-form input, .article-page-block .news-hashtag .subscribe-form button {
  width: 100%;
}
.news-page-block .news-hashtag .subscribe-form .title, .article-page-block .news-hashtag .subscribe-form .title {
  font-weight: 600;
  font-size: 13px;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
}
.new-description-body .subtitle, .article-description-body .subtitle, .event-description-body .subtitle {
  line-height: 1.4;
  margin-top: 40px;
  margin-bottom: 40px;
}
.new-description-body .subtitle:first-child, .article-description-body .subtitle:first-child {
  margin-top: 50px;
}
.event-description-body .subtitle:first-child {
  margin-top: 40px;
}
.new-description-body .big-img, .article-description-body .big-img {
  height: 469px;
}
.new-description-body .thoughts, .article-description-body .thoughts, .event-description-body .thoughts {
  padding-left: 6.2rem;
  padding-right: 6.2rem;
  line-height: 27px;
  color: #505050;
}
.new-description-body .thoughts .thoughts-desc, .article-description-body .thoughts .thoughts-descs, .event-description-body .thoughts .thoughts-desc {
  font-weight: bold;
  font-size: 15px;
}
.new-description-body .thoughts .thoughts-author, .article-description-body .thoughts .thoughts-author, .event-description-body .thoughts .thoughts-author {
  font-size: 12px;
}
.new-description-body .new-hashtag-block, .article-description-body .new-hashtag-block, .event-description-body .new-hashtag-block {
  margin-top: 2rem;
  display: flex;
}
.new-description-body .new-hashtag-block + .new-hashtag-block, .article-description-body .new-hashtag-block + .new-hashtag-block, .event-description-body .new-hashtag-block + .new-hashtag-block {
  margin-top: 1.1rem;
}
.new-description-body .new-hashtag-block a, .article-description-body .new-hashtag-block a, .event-description-body .new-hashtag-block a {
  padding: 12px 20px;
  height: 35px;
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  color: #505050;
  display: flex;
  border: 1px solid #505050;
  border-radius: 30px;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  margin-right: 3px;
}
.new-description-body .articles, .article-description-body .articles {
 margin-bottom: 5.5rem;
}
.event-description-body .articles {
  margin-bottom: 0;
}
.new-description-body .articles .items, .article-description-body .articles .items, .event-description-body .articles .items {
  margin-top: 3.4rem;
}
.new-description-body .articles .img, .article-description-body .articles .img, .event-description-body .articles .img {
  margin-bottom: 1rem;
}
.new-description-body .articles .img img, .article-description-body .articles .img img, .event-description-body .articles .img img {
  width: 100%;
  height: 130px;
}
.new-description-body .articles .title-articles, .article-description-body .articles .title-articles, .event-description-body .articles .title-articles {
  font-weight: bold;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: -0.02em;
  color: #000000;
  margin-bottom: 1.3rem;
}
.new-description-body .articles .description, .article-description-body .articles .description, .event-description-body .articles .description {
  font-size: 13px;
  line-height: 1.8;
  color: #000;
}
.new-description-body .articles .items .show-more-news, .article-description-body .articles .items .show-more-news, .event-description-body .articles .items .show-more-news {
  margin-top: 2rem;
}
.new-description-body .share, .article-description-body .share, .event-description-body .share {
  justify-content: flex-end;
}
.new-description-body .share .socnet-share ul li a img, .article-description-body .share .socnet-share ul li a img, .event-description-body .share .socnet-share ul li a img {
  width: 30px;
}
.new-description-body .share .socnet-share ul li:last-child a, .article-description-body .share .socnet-share ul li:last-child a, .event-description-body .share .socnet-share ul li:last-child a {
  border: none;
}
.new-description-body .share .socnet-share ul li a, .article-description-body .share .socnet-share ul li a, .event-description-body .share .socnet-share ul li a {
  border: 1px solid #8B8B8B;
  align-items: center;
  justify-content: center;
  width: 30px!important;
  display: flex;
  font-size: 16px;
  height: 30px!important;
  border-radius: 30px;
  padding: 0;
}
.new-description-body .share .share-button, .article-description-body .share .share-button, .event-description-body .share .share-button {
  color: #174EE2;
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  width: auto;
  height: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 30px;
  margin-right: 0.5rem;
  padding: 0 0.5rem 0 1rem;
  border: 1px solid #174EE2;
  cursor: pointer;
  display: flex;
}
.new-description-body .share .share-button i, .article-description-body .share .share-button i, .event-description-body .share .share-button i {
  font-size: 24px;
  margin-left: 5px;
}
.new-description-body .share .socnet-share ul, .article-description-body .share .socnet-share ul, .event-description-body .share .socnet-share ul {
  margin-bottom: 0;
}
.new-description-body .share .socnet-share ul li, .article-description-body .share .socnet-share ul li, .event-description-body .share .socnet-share ul li {
  margin-left: 10px;
}
.new-description-body .share .socnet-share, .article-description-body .share .socnet-share, .event-description-body .share .socnet-share {
  display: none;
}
.accordion-page .title-block .title {
  margin-top: 60px;
}
.accordion-page .align .accordion:first-child {
  border-top: 1px solid #EDEDED;
}
.accordion-page .align .accordion {
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: none;
  transition: 0.4s;
  height: 45px;
  background: #fff;
}
.accordion-page .align .accordion:hover, .activity-body .article-page-block a:hover {
  border: none!important;
}
.accordion-page .align .accordion .accordion-title {
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  color: #505050;
}
.accordion-page .align .panel .items .title-new, .accordion-page .align .panel .items .subtitle-new  {
  font-weight: bold;
  font-size: 19px;
  color: #000000;
  padding-top: 20px;
}
.accordion-page .align .panel .items .subtitle-new {
  font-size: 15px;
  margin-top: 0.7rem;
}
.accordion-page .align .accordion .minus {
  display: none;
}
.accordion-page .align .panel .show-more-news {
  margin-bottom: 20px;
  padding-top: 20px;
}
.accordion-page .align {
  padding-top: 40px;
}
.accordion-page {
  margin-bottom: 60px;
}
.accordion-page .align .panel {
  border-bottom: 1px solid #EDEDED;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.drp-calendar.right {
  display: none!important;
}
.activity-body .filter .title {
  font-weight: 700;
  font-size: 13px;
  line-height: 140%;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 3.1rem;
  margin-bottom: 1rem;
}
.activity-body .filter .dropdown.show, .activity-body .filter .dropdown {
  width: 235px;
  margin-right: 37px;
}
.activity-body .filter .dropdown.show .dropdown-toggle, .activity-body .filter .dropdown .dropdown-toggle {
  border-radius: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 29px;
  text-align: left;
  font-size: 12px;
  display: flex;
  padding-left: 1.35rem;
  line-height: 100%;
  color: #000000;
  align-items: center;
}
.activity-body .filter .dropdown.show .dropdown-toggle::after, .activity-body .filter .dropdown .dropdown-toggle::after {
  position: absolute;
  right: 15px;
  border-top: .45em solid;
  border-right: .45em solid transparent;
  border-bottom: 0;
  border-left: .45em solid transparent;
}
.activity-body .filter .dropdown.show .dropdown-toggle::before, .activity-body .filter .dropdown .dropdown-toggle::before {
  display: none;
}
.activity-body .select-period {
  margin-top: 33px;
}
.anounce-activity .items .description .title-announc {
  font-weight: bold;
  font-size: 17px;
  line-height: 146%;
  letter-spacing: -0.02em;
  color: #000000;
}
.anounce-activity .items .description .description-announc {
  font-size: 12px;
  line-height: 173%;
  letter-spacing: -0.02em;
  color: #000000;
  margin-top: 19px;
}
.activity-body .article-page-block .activity .title {
  font-weight: 600;
  font-size: 19px;
  line-height: 22px;
  letter-spacing: -2px;
  color: rgba(0, 0, 0, 0.8);
  padding-bottom: 14px;
  margin-bottom: 24px;
  margin-top: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.activity-body .article-page-block .activity .title:first-child {
  margin-top: 1rem;
}

.activity-body .article-page-block .item .date-activity, .activity-body .article-page-block .item .padding .city {
  font-weight: 500;
  font-size: 10px;
  line-height: 146%;
  letter-spacing: -0.02em;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 10px;
}
.activity-body .article-page-block .item {
  padding-right: 20px;
}
.activity-body .article-page-block .item img {
  width: 100%;
}
.activity-body .article-page-block .item .title-activity {
  font-weight: bold;
  font-size: 17px;
  line-height: 146%;
  letter-spacing: -0.02em;
  color: #000000;
}
.activity-body .article-page-block .item .description-activity {
  font-size: 12px;
  line-height: 176%;
  letter-spacing: -0.02em;
  color: #000000;
  margin-top: 19px;
}
.activity-body .article-page-block .title-month-activity {
  font-weight: 600;
  font-size: 19px;
  line-height: 22px;
  letter-spacing: -2px;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 1rem;
}
.activity-body .article-page-block .news-hashtag {
  padding-top: 1.1rem;
}
.activity-body .article-page-block {
  margin-bottom: 30px;
}
.close {
  float: right;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.6;
}
.activity-body .filter .dropdown-menu button:hover {
  border: none!important;
  color: rgba(0, 0, 0, 0.8)!important;
}
.activity-body .filter .dropdown-menu {
  color: rgba(0, 0, 0, 0.8);
  border-radius: 0;
}
.event-description-body {
  margin-top: 50px;
}
.event-description-body .big-img-event {
  height: 330px;
}
.event-description-body .big-img-event img, .new-description-body .big-img img, .article-description-body .big-img img {
width: 100%;
height: 100%;
}
.event-description-body .event-description {
  font-size: 18px;
  line-height: 250%;
  color: rgba(0, 0, 0, 0.5);
  padding-left: 6.5rem;
  padding-top: 1.7rem;
}
.add-to-calendar {
  background: #174EE2;
  font-weight: 600;
  font-size: 17px;
  line-height: 170%;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  width: 330px;
  border: none;
  border-radius: 30px;
  height: 42px;
  margin-top: 42px;
}
.authors-body {
  margin-top: 50px;
}
.authors-body .block-author {
  border: 1px solid #505050;
  width: 242px;
  margin-right: 50px;
  margin-bottom: 40px;
  height: content;  
}
.authors-body .block-author:nth-child(4) {
  margin-right: 0;
}
.authors-body .block-author .img-author {
  padding-top: 14px;
}
.authors-body .block-author .img-author img {
  width: 100%;
}
.authors-body .block-author a, .authors-body .block-author a:hover {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 24px;
}
.authors-body .block-author .position-author {
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 20px;
}
.authors-body .block-author .add-to-calendar {
  width: 80%;
  margin-top: 0;
}
.authors-body .block-author.become-author {
  display: flex;
  align-items: center;
  justify-content: center;
}
.author-description-body, .partner-description-body {
  margin-top: 41px;
  margin-bottom: 83px;
}
.author-description-body .description-author, .partner-description-body .description-partner {
  line-height: 21px;
  color: #585858;
}
.author-description-body .description-author a, .partner-description-body .description-partner a {
  text-decoration: underline;
}
.author-description-body .journal-img img, .partner-description-body .journal-img img {
  box-shadow: 0px 0px 15px rgba(80, 80, 80, 0.25);
}
.partner-description-body .journal-img .block-img {
  display: flex;
  justify-content: flex-end;
}
.partner-description-body .journal-img img {
  width: 320px;
}
.author-description-body .show-more, .partner-description-body .show-more {
  margin-top: 32px;
  margin-bottom: 46px;
}
.author-description-body .show-more a, .partner-description-body .show-more a {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #454545;
  border: 1px solid #505050;
  display: inline-block;
  padding: 8px 19px;
  border-radius: 30px;
}
.author-description-body .contact-author, .partner-description-body .contact-author {
  margin-top: 4rem;
}
.author-description-body .contact-author, .author-description-body .contact-author a, .partner-description-body .contact-author, .partner-description-body .contact-author a {
  font-weight: bold;
  color: #000000;
  line-height: 1.2rem;
}
.title-small {
  font-size: 14px;
  line-height: 23px;
}
.title-small::before {
  bottom: 10.7rem;
  width: 35px;
  height: 2px;
}
.author-description-body .contact-author .name, .partner-description-body .contact-author .name {
  margin-top: 0.7rem;
}
.author-description-body .contact-author .soc-net, .partner-description-body .contact-author .soc-net, .contacts-block .soc-net {
  margin-top: 1.8rem;
}
.author-description-body .contact-author .soc-net li, .partner-description-body .contact-author .soc-net li {
  margin-right: 1.3rem;
}
.contacts-block .soc-net li {
  margin-right: 1rem;
}
.author-description-body .contact-author .soc-net li a, .partner-description-body .contact-author .soc-net li a, .contacts-block .soc-net li a {
  border: 2px solid rgba(80, 80, 80, 0.8);
  color: rgba(80, 80, 80, 0.8);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 37px;
  height: 38px;
  font-size: 18px;
  border-radius: 30px;
}
.partners-body {
  margin-top: 50px;
}
.partners-body .partners .img-partner {
  width: 231px;
  height: 160px;
  border: 0.8px solid #C4C4C4;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  margin-right: 42px;
  margin-bottom: 42px;
}
.partners-body .partners .img-partner:hover {
  box-shadow: 0px 0px 15px rgba(80, 80, 80, 0.25);
}
.partners-body .partners .img-partner:nth-child(4) {
  margin-right: 0;
}
.partners-body .partners .img-partner:first-child {
  margin-left: 35px;
}
.partners-body .partners .img-partner img {
  width: 100%;
}
.about-body {
  margin-top: 50px;
}
.about-body .journal-img {
  padding-top: 7px;
}
.about-body .journal-img img {
  width: 195px;
  margin-left: 8.1rem;
  padding-left: 0;
  display: flex;
  margin-bottom: 26px;
}
.about-body .journal-description {
  text-align: left;
  line-height: 1.4;
}
.about-body .progress-number-block {
  margin-top: 70px;
}
.about-body .progress-number-block .title-block {
  margin-bottom: 59px;
}
.about-body .progress-number-block .progress-number {
  font-weight: 600;
  font-size: 37px;
  color: rgba(0, 0, 0, 0.8);
}
.about-body .progress-number-block .progress-desc {
  font-weight: 700;
}
.about-body .archive-block {
  margin-top: 111px;
}
.about-body .owl-carousel.journal .item img {
  width: 225px;
  margin: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(185, 185, 185, 0.2);
}
.about-body .owl-carousel.partner-carousel .item img:first-child {
  margin-bottom: 40px;
}
.about-body .owl-carousel.partner-carousel .item img {
  width: 221px;
  margin: 0;
  border: 1px solid rgba(185, 185, 185, 0.2);
}
.about-body .owl-carousel.journal .item {
  margin: 17px 0 0 25px
}
.about-body .owl-carousel.journa {
  padding: 0 1rem;
}
.about-body .owl-carousel.partner-carousel {
  padding: 0 3.5rem;
}
.about-body .owl-carousel.journal .item .author-name {
  margin-top: 11px;
  font-size: 16px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
}
.about-body .owl-carousel.journal .item .author-position {
  font-size: 12px;
  font-weight: 600;
  margin-top: 4px;
  color: rgba(0, 0, 0, 0.8);
}
.about-body .owl-carousel.journal .owl-nav button.owl-next, .about-body .owl-carousel.journal .owl-nav button.owl-prev {
  top: 40%;
}
.about-body .owl-carousel .owl-nav button.owl-next {
  right: -1.8rem;
}
.about-body .owl-carousel .owl-nav button.owl-prev {
  left: -1rem;
}

.about-body .owl-carousel.journal {
  padding: 0 1rem;
  margin-top: 45px;
}
.about-body .show-more-news {
  margin-top: 20px;
  margin-bottom: 91px;
}
.about-body .partner-carousel-block .title-block {
  margin-bottom: 62px;
}
.about-body .partner-carousel-block .owl-carousel.partner-carousel .item img {
  height: 153px;
}
.owl-carousel.partner-carousel .owl-nav button.owl-next, .owl-carousel.partner-carousel .owl-nav button.owl-prev, .owl-carousel.partner-carousel .owl-nav button.owl-next:hover, .owl-carousel.partner-carousel .owl-nav button.owl-prev:hover {
  top: 42%;
}
.about-body .contacts-block .contacts {
  padding-left: 25px;
}
.about-body {
  margin-bottom: 30px;
}
.about-body .contacts-block .contacts div a {
  font-weight: bold;
  display: inline-flex;
  align-items: flex-end;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.6);
}
.about-body .contacts-block .contacts div a img {
  margin-right: 20px;
  width: 20px;
}
.about-body .contacts-block .title-block {
  margin-bottom: 70px;
}
.about-body .feedback-message {
  padding-top: 4px;
}
.about-body .feedback-message .width-flex {
  width: 100%;
  justify-content: space-between;
}
.about-body .feedback-message .width-flex input {
  width: 50%;
  margin-bottom: 30px;
}
.about-body .feedback-message .width-flex input:first-child {
  width: 46%;
  margin-right: 24px;
}

.about-body .feedback-message input {
  width: 90%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);;
}
.about-body .feedback-message input::placeholder {
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  color: rgba(0, 0, 0, 0.5);
}
input[type="checkbox"] {
  display: none;
}
.about-body .feedback-message .checkbox {
  font-weight: 300;
  font-size: 11px;
  line-height: 100%;
  margin-top: 1rem;
  margin-bottom: 30px;
  color: rgba(80, 80, 80, 0.8);
}
.about-body .feedback-message .checkbox .red {
  color: #E30613;
}
input[type="checkbox"] + label::before {
  content: "";
  display: inline-block;
  height: 11px;
  width: 11px;
  border: 1px solid;
  margin: 0 5px 0 0;
  background-repeat: no-repeat;
  background:none;
}
input[type="checkbox"]:checked + label::before {
  background-image: url(../../../images/checkbox.png);
}
.about-body .feedback-message .send-message {
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  color: #FFFFFF;
  background: #4C4C4C;
  border-radius: 30px;
  width: 118px;
  height: 33px;
  border: none;
}
.error-body .error-title {
  font-size: 24px;
  line-height: 15px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 60px;
  color: rgba(0, 0, 0, 0.8);
}
.error-body .img img {
  width: 93%;
}
.error-body .error-desc {
  font-size: 16px;
  margin-top: 5px;
  line-height: 20px;
  color: #202020;
}
.error-body .search input {
  border-bottom: 1px solid #505050;
  width: 80%;
}
.error-body .search {
  border-bottom: none;
  margin-bottom: 1.6rem;
  padding-bottom: 0;
  margin-top: 1.3rem;
}
.error-body .search a {
  font-size: 20px;
  margin-right: auto;
  margin-left: 5px;
}
.error-body .arrow-down {
  padding-left: 3rem;
}
.error-body .menu {
  border-bottom: 1px solid #505050;
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 100px;
}
.error-body .menu ul {
  margin-bottom: 0.1rem;
}
.error-body .menu ul li a.nav-link {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  padding: 0 1.3rem;
}
.error-body .menu ul li:first-child a.nav-link {
  padding-left: 0;
}
.error-body .menu ul li:last-child a.nav-link {
  padding-right: 0;
}
.nothing-found-body, .search-results-body {
  padding-top: 100px;
  padding-bottom: 100px;
}
.nothing-found-body .nothing-title, .search-results-body .search-results-title {
  font-weight: 600;
  font-size: 21.5px;
  line-height: 26px;
  text-align: center;
  color: #434343;
  margin-bottom: 2.5rem;
}
.search-results-body .search-results-title {
  margin-bottom: 2rem;
}
.nothing-found-body ul {
  padding-left: 4rem;
  margin-bottom: 2.8rem;
}
.nothing-found-body ul li {
  list-style-type: disc;
  color: #808080;
}
.nothing-found-body ul li span {
  font-size: 17px;
  line-height: 21px;
  color: #434343;
}
.nothing-found-body .search {
  padding-bottom: 0.1rem;
  margin-bottom: 0;
  margin: auto;
  display: flex;
  width: 90%;
  align-items: flex-end;
}
.nothing-found-body .search a i {
  font-size: 31px;
}
.search-results-body .search-results-title i {
  margin-right: auto;
  position: absolute;
  left: 3.7rem;
}
.padding-x {
  padding-left: 2.4rem;
}
.search-results-body ul li {
  margin-left: 3rem;
}
.search-results-body ul li:first-child {
  margin-left: 2rem;
}
.search-results-body .results-block .item {
  padding-left: 1.6rem;
  margin-left: 3.6rem;
  padding-right: 3rem;
}
.results-block {
  margin-top: 47px;
}
.results-block .item .description-news {
  font-size: 14.9px;
}
.search-results-body .pagination-block {
  margin-bottom: 0;
  margin-top: 40px;
}
.search-results-body .padding-pagination {
  padding-left: 6rem;
}
.items-archive-block .item-archive:hover .hover-block {
  display: flex;
}
.items-archive-block .item-archive .hover-block {
  position: absolute;
  width: 76%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  top: 0;
  justify-content: center;
  padding-top: 13px;
  color: rgba(80, 80, 80, 0.8);
  display: none;
}
.items-archive-block .item-archive .hover-block .plus-journal {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 31px;
  font-weight: 200;
  color: #174EE2;
}
@media (min-width: 319px) and (max-width: 413px) {
  .new-block::before {
    height: 9.5rem!important;
  }
}
@media (min-width: 280px) and (max-width: 750px) {
  .contact-us, .contact-us a {
    text-decoration: underline;
    color: #174EE2;
  }
  .navigation {
    height: 45px;
  }
  .navigation .menu {
    margin-top: auto;
    margin-left: auto;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
    position: absolute;
    background: rgba(255, 255, 255, .8);
    top: 0;
    left: -15px;
    z-index: 99;
    text-align: center;
    width: 100vw;
    height: 100vh;
  }
  .navbar.bg-white {
    height: 45px;
    border-bottom: 0.8px solid #B1B1B1;
  }
  .navigation .menu li {
    margin-left: 0;
  }
  .navbar .navbar-brand img {
    height: 28px;
  }
  .navbar .navbar-brand {
    padding-top: 0;
    margin-right: 0;
  }
  .nav-link {
    padding: 0 .5rem 0 0;
    color: #505050;
  }
  .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #174EE2;
  }
  .navbar-nav {
    margin-top: 2.84rem;
    height: 100vh;
    background: #fff;
  }
  .navbar-nav .nav-item {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0.5px solid #D8D8D8;
  }
  .nav-block {
    height: 130px;
  }
  .block-position, .block-position a {
    font-size: 11px;
  }
  .block-position {
    margin-top: 20px;
  }
  .nav-block .owl-carousel .owl-item img, .nav-block .owl-carousel .owl-item a, .nav-block .owl-carousel .item .block .subtitle {
    display: none;
  }
  .nav-block .owl-carousel .owl-item {
    height: 170px;
    background: url(../images/home.jpg) 100% 100% no-repeat;
    background-size: 100%;
  }
  .nav-block .owl-fluid {
    padding-left: 0;
    padding-right: 0;
  }
  .nav-block .owl-carousel .item .block .title {
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 800;
    font-size: 24px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.75);
    margin-bottom: 0;
  }

  .nav-block .owl-carousel .item .block {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav-block .owl-carousel .item, .nav-block .owl-carousel.nav-home .item {
    height: 100%;
  }
  .nav-block .title, .nav-block.home .title {
    padding-top: 0;
  }
  .owl-carousel.journal {
    margin-top: 30px;
  }
  .owl-carousel.journal .item {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .owl-theme .owl-dots .owl-dot span {
    width: 18px;
    height: 2px;
    background: #808080;
  }
  .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #E30613;
  }
  .owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: -20px;
    position: relative;
    z-index: 999;
  }
  .owl-carousel.heading.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 0;
  }
  .news-block .title-block {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .title-block .title {
    font-size: 21px;
  }
  .title-block .title::before {
    width: 30px;
  }
  .owl-carousel .owl-item img {
    width: 20px;
  }
  .new-block::before {
    width: .1rem;
    height: 7.5rem;
    z-index: -1;
    left: .5rem;;
  }
  .owl-carousel.journal .item img {
    width: 100%;
  }
  .owl-carousel.journal {
    padding: 0;
  }
  .owl-carousel.journal .item img {
    width: 100%;
    margin: 0;
  }
  .owl-theme .owl-dots .owl-dot span {
    margin: 5px 5px;
  }
  .owl-carousel.journal.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 10px;
  }
  .journal-block, .news-block, .heading-block, .announc-block {
    margin-bottom: 60px;
  }
  .journal-block {
    margin-bottom: 40px;
  }
  
  .journal-block .show-more-news {
    margin-top: 30px;
    text-align: center;
  }
  .owl-carousel.journal .item img {
    box-shadow: 0 0 15px rgba(80, 80, 80, 0.25);
  }
  .owl-carousel.heading {
    padding: 0;
  }
  .owl-carousel.heading .owl-head-heading {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 6rem;
    padding-right: 6rem;
  }
  .owl-carousel.heading .heading-subtitle {
    text-align: center;
  }
  .owl-carousel.heading .item {
    margin-top: 40px!important;
  }
  .owl-carousel.heading .item .show-more-news {
    display: none;
  }
  .nav-block .owl-carousel .owl-item .block-link img, .nav-block .owl-carousel .owl-item a.block-link {
    display: block;
  }
  .owl-carousel.anounce .owl-item img {
    width: 50%;
  }
  .owl-carousel.anounce {
    margin-top: 40px;
  }
  .message-block .message-content .send-message a {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.02em;
    display: inline-block;
    border: 1px solid #174EE2;
    color: #174EE2;
    background: #fff;
    border-radius: 30px;
    padding: 10px 15px;
    margin-left: 25px;
  }
  .background-message {
    background: #fff;
  }
  .message-block .message-content .message-title {
    font-size: 15px;
  }
  .announc-block {
    margin-bottom: 30px;
  }

  .footer-block .footer-body .title {
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 20px;
    color: #BCBCBC;
  }
  .footer-block .soc-net {
    padding: 0 5.5rem;
  }
  .footer-block .soc-net li a {
    border:1px solid #8B8B8B;
    align-items: center;
    justify-content: center;
    width: 30px;
    display: flex;
    font-size: 17px;
    height: 30px;
    border-radius: 30px;
  }
  .footer-block .footer-body ul li a, .footer-block .footer-body ul li {
    margin-bottom: 2rem;
    text-align: center;
    color: #8B8B8B;
  }
  .footer-block .footer-body ul.soc-net li, .footer-block .footer-body ul.soc-net li a {
    margin-bottom: 0;
  }
  .footer-block .footer-body ul li a.full-version {
    text-decoration: underline;
  }
  .footer-block .footer-post::before {
    display: none;
  }
  .footer-block a.scroll-up {
    margin-top: 0;
    padding: 0 0.55rem;
    right: 26px;
  }
  .journal-block, .news-block {
    margin-top: 40px;
  }
  .journal-block .down-shadow {
    margin-top: 0;
  }
  .journal-img {
    padding-top: 0;
  }
  .hashtag-block .hashtag-link {
    font-size: 10px;
    padding: 0.6rem 1rem;
  }
  .hashtag-block {
    padding-left: 3rem;
    padding-right: 4rem;
    text-align: left;
  }
  .author-description-body .hashtag-block, .partner-description-body .hashtag-block {
    text-align: center;
  }
  .journal-img {
    text-align: center;
    margin-bottom: 70px;
  }
  .journal-img img {
    width: 90%;
    padding-left: 0;
  }
  .dot-journal-body .journal-block .down-shadow .item:first-child {
    padding-bottom: 20px!important;
  }
  .dot-journal-body .down-shadow::after {
    display: none;
  }
  .nav-block .title {
    font-size: 23.5px;
    color: rgba(0, 0, 0, 0.75);
    margin-bottom: 50px;
  }
  .dot-journal-body {
    margin-top: 40px;
  }
  .dot-journal-body .title-block {
    margin-bottom: 40px;
  }
  .journal-carousel {
    padding-left: 0;
    padding-right: 0;
  }
  .advertising-banner .container {
    height: 100px;
    font-size: 28px;
  }
  .message-block {
    height: 150px;
  }
  .message-block .message-content {
    height: 150px;
  }
  .news-hashtag .search {
    margin-bottom: 0;
    border-bottom: none;
    padding-bottom: 0;
    line-height: 0;
  }
  .news-hashtag .search input::placeholder {
    text-align: center;
    font-size: 13px;
  }
  .news-hashtag .search input {
    width: 100%;
    border-bottom: 1.3px solid rgba(0, 0, 0, 0.4)
  }
  .select-period .dropdown-toggle {
    padding-left: 0;
  }
  .dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    color: rgba(0, 0, 0, 0.8);
    min-width: 7rem;
    font-size: 11.5px;
    line-height: 21px;
  }
  .dropdown #dropdownMenuHeading.dropdown-toggle::before, .dropdown #dropdownMenuHashtag.dropdown-toggle::before {
    display: none;
  }
  .dropdown #dropdownMenuLink + .dropdown-menu {
    min-width: 7rem;
  }
  .news-page-block .item {
    border-bottom: 1px solid #EDEDED;
    padding-left: 0;
    padding-right: 0;
  }
  .select-period .dropdown.period {
    margin-bottom: 40px;
  }
  .padding-select {
    height: 40px;
  }
  .news-page-block .item .title-news {
    font-size: 19px;
  }
  .news-page-block .item .date {
    font-size: 13px;
  }
  .pagination-block {
    margin-bottom: 60px;
  }
  .new-description.nav-block .title {
    font-weight: 800;
    font-size: 23.5px;
    line-height: 30px;
    text-align: center;
    color: rgba(0, 0, 0, 0.75);
  }
  .new-description-body .big-img, .article-description-body .big-img {
    height: 138px;
  }
  .new-description-body .subtitle, .article-description-body .subtitle, .event-description-body .subtitle {
    line-height: 2;
    margin-top: 40px!important;
    font-size: 13px;
    margin-bottom: 20px;
  }
  .new-description-body .subtitle:last-child, .article-description-body .subtitle:last-child, .event-description-body .subtitle:last-child {
    margin-top: 20px!important;  
  }
  .new-description.nav-block .nav-heading {
    margin-bottom: 20px;
  }
  .new-description.nav-block .date-new {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .new-description-body .new-hashtag-block + .new-hashtag-block, .article-description-body .new-hashtag-block + .new-hashtag-block, .event-description-body .new-hashtag-block + .new-hashtag-block {
    margin-top: 0.5rem;
  }
  .new-description-body .new-hashtag-block a, .article-description-body .new-hashtag-block a, .event-description-body .new-hashtag-block a {
    padding: 6px 8px!important;
    font-size: 8.5px;
  }
  .new-description-body .new-hashtag-block, .article-description-body .new-hashtag-block, .event-description-body .new-hashtag-block {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  .new-description-body .new-hashtag-block.share-block, .article-description-body .new-hashtag-block.share-block, .event-description-body .new-hashtag-block.share-block {
    display: block;
    margin-top: 0;
  }
  .new-description-body .share .share-button, .article-description-body .share .share-button, .event-description-body .share .share-button {
    font-size: 9px;
    padding: 0 0.5rem;
    margin-right: 0;
  }
  .new-description-body .share .share-button i, .article-description-body .share .share-button i, .event-description-body .share .share-button i {
    font-size: 20px;
    margin-left: 5px;
  }
  .article-page-block .down-shadow .item img {
    display: none;
  }
  .article-body .select-period .show-news {
    padding-left: 15px;
  }
  .article-page-block .item {
    border-bottom: 1px solid #EDEDED;
  }
  .activity-body .article-page-block .item {
    border-bottom: none;
  }
  .news-body .down-shadow {
    padding-right: 15px;
  }
  .article-page-block .down-shadow .item {
    margin-bottom: 20px;
  }
  .nav-block.new-description {
    height: 100%;
  }
  .activity-body .filter .d-flex:first-child {
    margin-bottom: 20px;
  }
  .activity-body .owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 10px;
    position: relative;
    z-index: 999;
  }
  .activity-body .article-page-block .activity .title {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.06em;
    color: rgba(0, 0, 0, 0.8);
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-top: 40px!important;
  }
  .activity-body .article-page-block .item .title-activity {
    font-size: 19px;
  }
  .activity-body .article-page-block .item .date-activity, .activity-body .article-page-block .item .padding .city {
    font-size: 12px;
  }
  .activity-body .article-page-block .item .description-activity {
    font-size: 15px;
  }
  .event-description-body .event-description {
    font-size: 17px;
    line-height: 250%;
    text-align: center;
    color: #000000;
    padding-left: 15px;
  }
  .new-description-body .new-hashtag-block a, .article-description-body .new-hashtag-block a, .event-description-body .new-hashtag-block a {
      width: 65px!important;
      height: 25px;
  }
  .add-to-calendar {
    width: 100%;
    margin-top: 20px;
  }
  .event-description-body .big-img-event img {
    height: 140px;
  }
  .event-description-body .big-img-event {
    height: 100%;
  }
  .authors-body {
    margin-top: 40px;
  }
  .authors-body .block-author {
    text-align: center;
    height: 336px;
  }
  .authors-body .block-author {
    margin: auto;
    margin-bottom: 40px;
  }
  .authors-body .description-block .description, .partners-body .description-block .description {
    margin-bottom: 40px;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
    color: #000000;
  }
  .authors-body .add-to-calendar, .partners-body .add-to-calendar {
    width: 180px;
    background: #fff;
    border: 1px solid #174EE2;
    color: #174EE2;
  }
  .author-description-body, .partner-description-body {
    margin-bottom: 60px;
  }
  .author-description-body .journal-img, .partner-description-body .journal-img {
    margin-bottom: 40px;
  }
  .author-description-body .contact-author .soc-net, .partner-description-body .contact-author .soc-net {
    justify-content: flex-end;
  }
  .author-description-body .contact-author .soc-net li, .partner-description-body .contact-author .soc-net li {
    margin-right: 1.3rem;
    justify-content: flex-end;
  }
  .author-description-body .show-more, .partner-description-body .show-more {
    text-align: center;
  }
  .partners-body .partners .img-partner {
    margin-right: auto!important;
    margin-left: auto!important;
  }
  .partner-description-body .journal-img .block-img {
    justify-content: center;
  }  
  .about-body .progress-number-block .title-block {
    margin-bottom: 40px;
  }
  .about-body .progress-number-block {
    margin-top: 40px;
  }
  .about-body .progress-number-block .progress-desc {
    margin-bottom: 40px;
  }
  .about-body .archive-block {
    margin-top: 60px;
  }
  .about-body {
    margin-top: 40px;
  }
  .about-body .partner-carousel-block .title-block {
    margin-bottom: 40px;
    margin-top: 60px;
  }
  .about-body .contacts-block .title-block {
    margin-bottom: 40px;
    margin-top: 40px;
  }
  .about-body .journal-img {
    text-align: center;
    margin-bottom: 20px;
  }
  .about-body .journal-img img {
    width: 70%;
    margin: auto;
  }
  .about-body .journal-description {
    margin-bottom: 20px;
  }
  .about-body .owl-carousel.journal {
    padding-left: 0;
    padding-right: 0;
  }
  .about-body .owl-carousel.journal .item {
    text-align: center;  
  }
  .about-body .owl-carousel.journal .item img {
    width: 265px;
    height: 345px;
    margin: auto;
  }
  .about-body .owl-carousel.journal .item {
    margin: 0;
  }
  .about-body .owl-carousel.partner-carousel {
    padding: 0;
  }
  .about-body .partner-carousel-block .owl-carousel.partner-carousel .item img {
    width: 265px;
    height: 265px;
    margin: auto;
    border: 1px solid rgba(185, 185, 185, 0.2);
  }
  .about-body .partner-carousel-block .owl-carousel.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 20px;
  }
  .about-body .contacts-block .soc-net {
    justify-content: center;
    margin-bottom: 40px;
  }
  .about-body .feedback-message .width-flex input {
    margin-bottom: 30px;
  }
  .about-body .feedback-message input {
    width: 100%!important;
  }
  .about-body {
    margin-bottom: 60px;
  }
  .about-body .feedback-message .checkbox {
    font-weight: 300;
    font-size: 11px;
    line-height: 100%;
    margin-top: 20px;
  }
  .error-body {
    padding-bottom: 60px;
  }
  .error-body .error-title {
    margin-top: 40px;
    text-align: center;
    line-height: 120%;
    margin-bottom: 40px;
  }
  .error-body .img {
    margin-bottom: 40px;
  }
  .error-body .search {
    margin-bottom: 40px;
    margin-top: 30px;
  }
  .error-body .search a {
    font-size: 20px;
    margin-left: auto;
    margin-right: 38px;
  }
  .error-body .search input {
    width: 65%;
    margin-left: 2rem;
  }
  .error-body .img img {
    margin-bottom: 20px;
  }
  .nothing-found-body ul {
    padding-left: 2rem;
  }
  .nothing-found-body ul li span {
    font-size: 15px;
    line-height: 18px;
    color: #434343;
  }
  .search-results-body ul li {
    margin-left: 0;
  }
  .search-results-body .search-results-title i {
    left: 2.7rem;
  }
  .error-body, .search-results-body {
    padding-top: 40px;
    padding-bottom: 60px;
  }
  .search-results-body ul li {
    margin-left: 0;
  }
  .search-results-body .results-block .item {
    padding-left: 0;
    margin-left: 0;
    padding-right: 0;
  }

}


